<h1>Logs New</h1>

<h2>Log New Session</h2>
<%= form_for @log do |log_form| %>
	<%= fields_for @student do |student_form| %>
		<p>
			<%= student_form.label :ssid %>
			<%= student_form.text_field :ssid %>
		</p>
	<% end %>
	<p>
		<%= log_form.label :description %>
		<%= log_form.text_area :description %>
	</p>

	<p><%= log_form.submit %></p>
<% end %>